
<div class="flex items-center justify-center min-h-screen bg-[url(https://images.unsplash.com/photo-1595769816263-9b910be24d5f?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bW92aWUlMjB0aGVhdGVyfGVufDB8fDB8fHww)] bg-cover bg-center">
<section class="bg-gray-900 main-section rounded-xl">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">You can watch. We can rate.</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Search for a movie, rate it by categories and log it in your Letterboxd using this website, it's that easy!</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a [routerLink]="['/search']" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-red-900">
                Let's score!
            </a>
            <a href="#" class="py-3 px-5 sm:ms-4 text-sm font-medium rounded-lg :ring-gray-700 bg-gray-800 text-gray-400 border-gray-600 hover:text-white hover:bg-gray-700">
                How we rate.
            </a>  
        </div>
    </div>
</section>
</div>